html,
body {
    background-color: white;
}

.pure-u-1 img {
    width: 100vw;
}

#choropleth_map {
    width: 90%;
    height: 90%;
}

#pure-u-1-2 {
    width: 50vw;
}

#daily_cases_recovery {
    width: 50%
}