#choropleth_map {
    position: absolute;
    top: 100px;
    left: 1000px;
}

#stacked_bar_vax {
    position: absolute;
    left: 20px;
    top: 800px;
    text-align: left;
}

#vax_brands {
    position: absolute;
    top: 850px;
    left: 20px;
}

#daily_cases_recovery {
    top: 800px;
    right: 0px;
}

#header {
    text-align: center;
}
