#choropleth_map {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
    right: 20px;
}

#stacked_bar_vax {
    position: absolute;
    left: 20px;
    top: 800px;
    text-align: left;
}

#vax_brands {
    position: absolute;
    top: 850px;
    left: 20px;
}

#daily_cases_recovery {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#header {
    text-align: center;
}
